body
{
    display: flex;
    justify-content: center;
}

.D1 
{
    width: 55%;
    height: 96vh;
    background-color: rgb(84, 167, 195);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.D2
{
    width: 75%;
    height: 32vh;
    background-color: rgb(84, 167, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

    .D3
    {
        width: 30%;
        height: 80%;
        display: flex;
        background-color: yellow;
    }

    .D4
    {
        width: 60%;
        height: 80%;
        display: flex;
        background-color: yellow;
    }

.D5
{
    width: 75%;
    height: 32vh;
    background-color: rgb(84, 167, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

    .D6
    {
        width: 60%;
        height: 80%;
        display: flex;
        background-color: yellow;
    }

    .D7
    {
        width: 30%;
        height: 80%;
        display: flex;
        background-color: yellow;
    }

.D8
{
    width: 75%;
    height: 32vh;
    background-color: rgb(84, 167, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

    .D9
    {
        width: 95%;
        height: 80%;
        display: flex;
        background-color: yellow;
    }